.main-bar {
  width: calc(100% - 300px - 24px);
  float: left;
  margin: 25px 0px;
  padding: 0;
}

.main-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-bar-header h1 {
  font-weight: 400;
}

.main-bar-header .ask-btn {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #009dff;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.main-bar-header .ask-btn:hover {
  background-color: #0086d8;
}

.main-bar-header .hi-btn {
  background-color: #6ca0b8;
}
.main-bar-header .hi-btn:hover {
  background-color: #4c7a8e;
}
.main-bar-header .zh-btn {
  background-color: #6b8e23;
}
.main-bar-header .zh-btn:hover {
  background-color: #4c5e19;
}
.main-bar-header .fr-btn {
  background-color: #e0d66c;
}
.main-bar-header .fr-btn:hover {
  background-color: #b5a94b;
}

.display-question-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-bottom: solid 1px #e3e4e4;
  margin-top: 10px;
}

.display-question-container .display-votes-ans {
  padding: 10px;
}

.display-question-container .display-votes-ans p {
  margin: 0%;
  text-align: center;
}

.display-question-details {
  flex-grow: 1;
  padding: 10px;
  margin: 0%;
}

.question-title-link {
  text-decoration: none;
  color: #037ecb;
  transition: 0.3s;
}

.question-title-link:hover {
  color: #009dff;
}

.hi-link {
  color: #6ca0b8;
}
.hi-link:hover {
  color: #4c7a8e;
}
.zh-link {
  color: #6b8e23;
}
.zh-link:hover {
  color: #4c5e19;
}
.fr-link {
  color: #e0d66c;
}
.fr-link:hover {
  color: #b5a94b;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.display-tags-time .display-tags p {
  margin: 2px;
  padding: 4px;
  font-size: 13px;
  background-color: rgb(225, 225, 225);
  color: black;
}
.display-tags-time .display-time {
  font-size: 13px;
}

@media screen and (max-width: 1020px) {
  .main-bar {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .display-question-container .display-votes-ans {
    padding: 10px;
  }
}
